
/Messence.BL/bin/
/Messence.BL/obj/
/Messence.DAL/bin/
/Messence.DAL/obj/
/Messence.Shared/bin/
/Messence.Shared/obj/


/WebsiteFrontEnd/bin/
/WebsiteFrontEnd/obj/

/WebsiteFrontEnd/App_Data/


/.vs/
/packages/
/WebsiteFrontEnd/PrivateAppSettings.config
/WebsiteFrontEnd/PrivateAppSettings.Release.config
/WebsiteFrontEnd/PrivateConnectionStrings.config
/WebsiteFrontEnd/PrivateConnectionStrings.Release.config
/WebsiteFrontEnd/WebsiteFrontEnd.csproj.user

/WebsiteFrontEnd/Umbraco/

/WebsiteFrontEnd/Properties/PublishProfiles/
/WebsiteFrontEnd/MessenceComFrontEnd.csproj.user