/MessiahSoftwareSolutions.com/bin/
/MessiahSoftwareSolutions.com/obj/
/MessiahSoftwareSolutions.com/App_Data/
/.vs/
/IISPUBLISH-dev.MessiahSolutions.com/
/packages/
/MessiahSoftwareSolutions.com/PrivateAppSettings.config
/MessiahSoftwareSolutions.com/PrivateConnectionStrings.config
/MessiahSoftwareSolutions.com/MessiahSolutions.com.csproj.user
/MessiahSoftwareSolutions.com/Properties/PublishProfiles/PublishPlan-MessiahSolutions.com.pubxml.user

