/MessiahSolutionsComFrontEnd/bin/
/MessiahSolutionsComFrontEnd/obj/

/MessiahSolutionsComFrontEnd/App_Data/cache/
/MessiahSolutionsComFrontEnd/App_Data/Logs/
/MessiahSolutionsComFrontEnd/App_Data/temp/
/MessiahSolutionsComFrontEnd/App_Data/models/models.hash
/MessiahSolutionsComFrontEnd/App_Data/models/all.dll.path


/.vs/
/IISPUBLISH-dev.MessiahSolutions.com/
/packages/
/MessiahSolutionsComFrontEnd/PrivateAppSettings.config
/MessiahSolutionsComFrontEnd/PrivateConnectionStrings.config
/MessiahSolutionsComFrontEnd/MessiahSolutionsComFrontEnd.csproj.user
/MessiahSolutionsComFrontEnd/Properties/PublishProfiles/PublishPlan-MessiahSolutions.com.pubxml.user

