html , body  {
    direction: rtl;
}

@media (min-width: 1024px) {
    .rd-navbar-brand {
        float: right;
        padding-top: 8px;
        padding-left: 10px;
    }

    .rd-navbar-inner {
        padding-right: 12px !important;
        padding-left: 12px !important;
    }
}

.rd-navbar-centered .rd-navbar-static .rd-navbar-brand .brand-name
{
    margin-left: -14px;
}

.rd-navbar-static .rd-navbar-search .rd-search-form-submit
{
    left:16px;
    right:auto;
}

.rd-search .form-label {
    /*top: 30px;*/
    /*left: 25px;*/
    left: auto;
    right:25px;
}

.rd-search .form-input
{

}

.rd-navbar-static .rd-navbar-search .rd-search
{
    right:-30px;
}