@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <h1>Messiah Software Solutions</h1>
        <p class="lead">
            "Messiah Software Solutions" is a private israel small business owned by <a href="http://about.me/vadimrasin/" target="_blank">Vadim Rasin</a>
            <br />
            <br />
            The company / Vadim Rasin builds Web sites and Web applications!
            <br />
            <br />
            Contact us or view more on our <a href="/projects">projects</a> page :)
        </p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>OpenSource Adventure!</h2>
        <p>
            I love ASP.NET!  
            <br />
            This Website is an Opensource Adventure!
            <br />
            You can view the code <a href="https://github.com/VadimRasin/MessiahSoftwareSolutions" target="_blank">here</a>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Join &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Let's work Together!</h2>
        <p>
            We are looking for new <a href="/Clients/">clients</a> and business proposals!
        </p>
        <p><a class="btn btn-default" href="/ContactUs/">Contact US &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Small Hosting Solutions</h2>
        <p>
            The company uses <a href="https://azure.microsoft.com/" target="_blank">microsoft azure</a> and to host web applications and solutions.
        <p><a class="btn btn-default" href="/ContactUS">Contact US &raquo;</a></p>
    </div>
</div>