@{
    ViewBag.Title = "Coming Soon! ";
}

    <div class="UnderConstructionWrapper">

        <h2>@ViewBag.Title</h2>

        <br />
        <br />
        Messiah - Software Solutions LTD website will be soon online!
        <br />
        <br />
        Meanwhile the master pushes code / reflects on the brand and on the life.

        <br />
        <br />
        <a href="https://facebook.com/vadimrasin">facebook.com/vadimrasin</a>
        <br />
        <br />
        <a href="https://twitter.com/hsvdrv">twitter.com/hsvdrv</a>
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
    </div>