

.OurTeam .owl-stage 
{
    margin: 0 auto;
}


/* Primary buttons with black text! */
.button-primary, .button-primary:hover
{
    color: #000;
}


/* Change white text hover to black on the homepage 4 components - Our Advantages */
.OurAdvantages .box-minimal-border:hover .box-minimal-text,
.OurAdvantages .box-minimal-border:hover .box-minimal-title
{
    color: #000;
    font-weight: bold;
}
.OurAdvantages .box-minimal-border:hover hr 
{
    border-color: #000;
}
.OurAdvantages .box-minimal-border:hover .box-minimal-icon
{
    color:#000;
}
.OurAdvantages .divider 
{
    max-width: 100%;
    /* #ToDo add animation when cursor hovers the our advantages then the teal seperator turns from 100px to 100% width in animation*/
}


.rd-navbar-HeadacheFixed 
{
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 6px 8px rgba(41, 41, 58, 0.17);
}



/***    UnderConstructionWrapper     ****/
.UnderConstructionWrapper {
    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.UnderConstructionWrapper h2 
{
    text-transform: uppercase;
}

.HeavyText
{
    font-weight:bold;
}

@media only screen and (max-width: 600px) {
    .UnderConstructionWrapper
    {
        font-size:18px;
    }

    .MobileBGPlaceHolder
    {
        display: block;
        min-height: 265px;
        background-image: url(/Images/ComingSoon/Mobile-BG.jpg);
        height: 265px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

}



